@{
    ViewData["Title"] = "Fale comigo!";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .wrapper {
            display: grid;
            grid-template-columns: 380px 380px 380px;
        }

        ,

        .btnColor {
            back-color: #A52A2A;
        }

        ,

        .d-flex2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">        
        <h3><font color="#B22222"><b>Espero seu contato pelo:</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <br />
    <br />
    <div class="text-center">
         <a  href="https://www.instagram.com.br/fonomarianaserpa"><img src="instagramLogo.png" style="width: 15%; height: 25%;" /></a><font color="#B22222"><b>&nbsp;&nbsp;&nbsp;&nbsp;Instagram</b></font>
         <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
         <a  href="https://wa.me/+5531985990135"><img src="whatsappLogo.png" style="width: 16%; height: 26%;" /></a><font color="#B22222"><b>&nbsp;&nbsp;&nbsp;&nbsp;WhatsApp</b></font>
         <div class="row d-flex">        
            <div>
                <p><label> </label></p>
                <p><label> </label></p>
                <hr style="border: 1px solid #B22222;" />
                <img src="localizacaoConsultorio.png" style="width: 10%; height: 15%;" />
                <font color="#B22222">
                    <p>
                        <h4><b>E estou localizada na:</b></h4>
                    </p>
                </font>
                <hr style="border: 1px solid #B22222;" />
                <br />
                <p><b>Rua dos Otoni, 927, sala 202. Bairro Santa Efigênia,</b></p>
                <p><b>Belo Horizonte, M.G.</b></p>
                <p><b>CEP: 30150-270.</b></p>
        </div>
    </div>
    <div/>
</body>
<br />
<br />
<br />
<br />
<br />

