@{
    ViewData["Title"] = "Zumbido e hipersensibilidade";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>Zumbido e hipersensibilidade</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="somZumbido.gif" style="width: 30%; height: 30%;"/>
        <div>
            <p><label>   </label></p>
            <p><b>Zumbido</b> não é doença, mas sim um sintoma de que errado está acontecendo no organismo.</p>
            <p>Segundo autores internacionais, a maioria dos zumbidos estão associados a danos no sistema </p>
            <p>auditivo. Mas também pode estar relacionado a outros fatores como: transtornos da ATM,</p>
            <p>distúrbios vestibulares, entre outros. Este sintoma incomoda milhares de pessoas que sofrem</p>
            <p>com a falta de informação, diagnóstico e tratamento.</p>          
            <p><label>   </label></p>
            <p><b>Tratamento:</b></p>
            <p>
                <ul>
                    <li>Avaliação completa e especializada;</li>
                    <li>Terapia de habituação do zumbido.</li>
                </ul>
            </p>
        </div>
    </div>
</body>
<br />
<br />
<br />
<br />

