
@{
    ViewData["Title"] = "Cursos e supervisões";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>Cursos e supervisões</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="fonoaudiologiaLogo.png" style="width: 30%; height: 30%;"/>
        <div>
            <p><label>   </label></p>
            <p><label>   </label></p>
            <p><label>   </label></p>
            <p><label>   </label></p>
            <p>Precisa aperfeiçoar seus conhecimentos teóricos e práticos sobre avaliação e reabilitação do sistema</p>
            <p>vestibular? Não perca tempo entre em contato e saiba mais informações. Aqui podemos realizar uma</p>
            <p>supervisão personalizada ou curso com no máximo 10 alunos, incluindo material, teoria e prática. </p>
        </div>
    </div>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>   
    <img src="novaFotoMariana.jpg" style="width: 20%; height: 20%;"/>
    <img src="fotoSala.jpg" style="width: 20%; height: 40%;"/>
</body>
<br />
<br />
<br />
<br />
<br />
<br />