
@{
    ViewData["Title"] = "Depoimentos";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>Depoimentos</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="aspasAbertura.png" style="width: 15%; height: 15%;"/>
        <div>
            <br />
            <h4><font color="#B22222">Separei aqui este cantinho para postar os depoimentos</font></h4>
            <h4><font color="#B22222">dos queridos pacientes sobre o meu trabalho...</font></h4>
        </div>
        <img src="aspasFechamento.png" style="width: 15%; height: 15%;"/>
    </div>
    <div class="text-center">
        <video controls
          width="340"
          height="360"
          src="videoDepoimento1.mp4">
          <div fallback>
            <p>Este navegador não suporta o elemento de vídeo.</p>
          </div>
        </video>
        <video controls
          width="340"
          height="360"
          src="videoDepoimento2.mp4">
          <div fallback>
            <p>Este navegador não suporta o elemento de vídeo.</p>
          </div>
        </video>
        <video controls
          width="340"
          height="360"
          src="videoDepoimento3.mp4">
          <div fallback>
            <p>Este navegador não suporta o elemento de vídeo.</p>
          </div>
        </video>
    </div>
    <br />
    <div class="text-center">
        <a class="btn btn-danger btnColor" style="background-color: #B22222" href="https://www.instagram.com.br/fonomarianaserpa">Quer ver mais?<br />Acesse o meu Instagram!</a>
    </div>
    <br />
</body>
<br />
<br />

