@{
    ViewData["Title"] = "Processamento Auditivo";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>Avaliação e reabilitação das alterações do processamento auditivo</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="paginaProcesAudit.jpg" style="width: 30%; height: 30%;"/>
        <div>
            <p>O transtorno de uma ou mais habilidades do <b>Processamento Auditivo</b> indica que há um</p>
            <p>bloqueio no caminho do som, mais precisamente na via central da audição. A avaliação e a</p>
            <p>terapia são realizadas exclusivamente por um <b>fonoaudiólogo</b>, pode ser realizada de crianças a</p>
            <p>idosos e também em pessoas com perda auditiva. O resultado da avaliação irá conduzir a</p>
            <p>intervenção terapêutica, tendo como objetivo a adequação das habilidades auditivas através da terapia.</p>          
            <p><label>   </label></p>
            <p><b>Alguns sinais sugestivos deste tipo de alteração seriam:</b></p>
            <p>
                <ul>
                    <li>Ouvir mas não entender;</li>
                    <li>Solicitações frequentes do que foi dito;</li>
                    <li>Dificuldade para compreender ordens;</li>
                    <li>Dificuldade na memória e concentração;</li>
                    <li>Melhor desempenho em atividades com apoio visual;</li>
                    <li>Trocas na fala e na escrita;</li>
                    <li>Dificuldade com canções, versinhos e idiomas.</li>
                </ul>
            </p>
        </div>
    </div>
    <br />
</body>
<br />

