@{
    ViewData["Title"] = "Fonoaudiologia Clínica";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body background="fundoMariana2.png">
    <div class="text-center">
        <br />
        <br />
        <br />
        <h3>Fonoaudiologia Clínica</h3>
    </div>
    <hr />
    <div class="row d-flex">
        <img src="aprendizagem.png" style="width: 40%; height: 40%;"/>
        <div>
            <p><label>   </label></p>
            <p><label>   </label></p>
            <p>A <b>Fonoaudiologia</b> é uma ciência da área da saúde muito abrangente.</p>
            <p>Possui várias áreas de atuação. Quer saber mais sobre as áreas de atuação da Fonoaudiologia?</p>
            <p>Acesse a página do <a href="http://www.crefono6.org.br/fonoaudiologia">Conselho Regional de Fonoaudiologia da sexta Região</a>.</p>
            <p><label>   </label></p>
            <p>Dentre tais áreas, também atuo nos casos de:</p>
            <p>
                <ul>
                    <li>Distúrbios de Linguagem Oral;</li>
                    <li>Distúrbios de Linguagem Escrita.</li>
                </ul>
            </p>
        </div>
    </div>
</body>
<br />
<br />
<br />
<br />


