<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6fc6543e-fa4a-462d-94ce-417a9211aa2c/resourcegroups/marianaserpaResourceGroup/providers/Microsoft.Web/sites/marianaserpa</ResourceId>
    <ResourceGroup>marianaserpaResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://marianaserpa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>40682ae5-fcfd-49a0-8021-d946d448a91a</ProjectGuid>
    <PublishUrl>https://marianaserpa.scm.azurewebsites.net/</PublishUrl>
    <UserName>$marianaserpa</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>