
@{
    ViewData["Title"] = "Saúde auditiva para os músicos";
}

<head>
    <style>
        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>A saúde auditiva para músicos...</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="fotoMusico.jpg" style="width: 30%; height: 30%;"/>
        <p><label>&nbsp;&nbsp;&nbsp;&nbsp;</label></p>
        <p><label>&nbsp;&nbsp;&nbsp;&nbsp;</label></p>
        <div>           
            <p>A música sempre representou um papel importante em nossas vidas,expressando sentimentos,cultura e origens.</p>
            <p>Profissionais da música como: cantores, instrumentistas, DJs, equipe de áudio, têm a audição constantemente</p>
            <p>exposta a níveis elevados de pressão sonora. <b>A cóclea é o órgão responsável pelo início da percepção de </p>
            <p>diferenças acústicas na via auditiva, é sensível às agressões causadas pelos sons intensos.</b> Estudos têm </p>
            <p>demonstrado alterações auditivas entre os músicos, sugerindo a necessidade de programas de prevenção de perdas </p>
            <p>auditivas e a implementação do programa de preservação auditiva.</p>
            <p><label>   </label></p>
            <p><b>Programa de saúde auditiva para músicos oferece:</b></p>
            <p>
                <ul>
                    <li>Aconselhamento Personalizado;</li>
                    <li>Avaliação auditiva;</li>
                    <li>Reabilitação auditiva se necessário;</li>
                    <li>Monitores universais ou In-Ear;</li>
                    <li>Pré-moldes auriculares.</li>
                </ul>
            </p>
        </div>
        <p><label>   </label></p>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <img src="fotoMolde1.jpg" style="width: 40%; height: 40%;"/>
        <img src="fotoMolde2.jpg" style="width: 40%; height: 40%;"/>
    </div>
</body>
<br />
<br />
<br />
<br />

