@{
    ViewData["Title"] = "Equilíbrio";
}

<head>
    <style>
        .img {
            background-size: 100% 100%;
        }

        ,

        .d-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ,
    select:invalid {
        color: gray;
    }

    ,
        
    </style>
</head>

<body style="background-color: #FFFAFA;">
    <div class="text-center">
        <h3><font color="#B22222"><b>Avaliação e reabilitação do equilíbrio</b></font></h3>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000" style="background-color: #696969;">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="d-block mx-auto" src="paginaReabVestibular1.jpg" style="width: 200px; height: 300px;" alt="ASP.NET" class="img-responsive" />          
            </div>
            <div class="item">
                <img class="d-block mx-auto" src="paginaReabVestibular2.jpg" style="width: 200px; height: 300px;" alt="Visual Studio" class="img-responsive" />             
            </div>
            <div class="item">
                <img class="d-block mx-auto" src="paginaReabVestibular3.jpg" style="width: 200px; height: 300px;" alt="Package Management" class="img-responsive" />       
            </div>
            <div class="item">
                <img class="d-block mx-auto" src="paginaReabVestibular4.jpg" style="width: 200px; height: 300px;" alt="Microsoft Azure" class="img-responsive" />              
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <hr style="border: 1px solid #B22222;" />
    <div class="row d-flex">
        <img src="paginaReabVestibular2.jpg" style="width: 30%; height: 50%;"/>
        <div>
            <p><label>   </label></p>
            <p>É um método de tratamento consagrado que tem por objetivo restaurar padrões do equilíbrio </p>
            <p>corporal. São realizados um conjunto de exercícios e manobras, que visam aprimorar a </p>
            <p>integração de alguns sistemas, através da neuroplasticidade, promovendo qualidade de vida e ganho funcional. </p>
            <p><label>   </label></p>
            <p><b>Indicações sugestivas para tal avaliação e reabilitação:</b></p>
            <p>
                <ul>
                    <li>Pacientes com queixa de vertigem e tontura;</li>
                    <li>Pacientes com diagnóstico médico de Cinetose, VPPB, Neurite vestibular, Migrânea entre outras patologias;</li>
                    <li>Pacientes de qualquer idade com queixa ou alterações no equilíbrio corporal;</li>
                    <li>Pacientes com a Síndrome Multissensorial do idoso;</li>
                    <li>Pacientes com instabilidade e insegurança para se locomover.</li>
                </ul>
            </p>
        </div> 
    </div>
    <br />
    <br />
</body>
<br />
<br />